body {
    /*padding-top: 50px;*/
}
.starter-template {
    padding: 20px 15px;
    text-align: center;
}
.container{
    /*padding-top: 15%;*/
}
table.table-results{
    margin-top: 40px;
}
table.table-results tr.source_type_0{
    background-color: #b4d5ea;
}

table.table-results tr.source_type_1{
    background-color: #c9ffda;
}
table.table-results tr.source_type_2{
    background-color: #ffd8e8;
}